<%!
	import view.filter
	from config import template,site,backend
	from model.default import MemberAuthority
%>

	<div>
			<div class="admin_title">
			% if action_type == 'add':
				<h1>${backend.member.add}</h1>
			% elif action_type == 'edit':
				<h1>${backend.member.edit}</h1>
			% endif
			</div>

			<div class="operation_link">
				<a href='/backend/member' class="button">${backend.member.title}</a>
				<a href='/backend/member/add' class="button select">${backend.member.add}</a>
			</div>
			<div class='edit_content'>
			% if action_type == 'add':
			<form enctype="multipart/form-data" name="classify_form" action="/backend/member/add" method="post">
			% elif action_type == 'edit':
				<form enctype="multipart/form-data" name="classify_form" action="/backend/member/edit/${item._id}" method="post">
				<input type="hidden" name="id" value="${item._id}"></input>
			% endif


				<fieldset>
				% if action_type == 'add':
					<legend>#${backend.member.add}#</legend>
				% elif action_type == 'edit':
					<legend>#${backend.member.edit}#</legend>
				% endif
				<table class='edit_style'>
					% if error:
					<tr>
						<td></td>
						
						<td class='error'>${error}</td>
					</tr>
					% endif
					<%
						last_name		=	''
						last_email		=	''
						last_readme		=	''
						last_all		=	{}

						if item and 'name' in item:
							last_name		=item.name
						if item and 'email' in item:
							last_email		=item.email
						if item and 'readme'  in item:
							last_readme		=item.readme

						
						if error:
							if web and web.input() and 'name' in web.input():
								last_name=web.input().name

							if web and web.input() and 'readme' in web.input():
								last_readme=web.input().readme

							if web and web.input() and 'email' in web.input():
								last_email = web.input().email
							if web and web.input():
								last_all = web.input()
								

					%>
					<thead>
					<tr>
						<th colspan="2" style="color:green">基本信息</th>
					</tr>
					</thead>
					<tr>
						<td>${backend.member.field.name}</td>
						<td><input type="text" name="name" class='input_box_style' value=${last_name}></input>
						</td>
					</tr>
					<tr>
						<td>${backend.member.field.email}</td>
						<td><input type="text" name="email" class='input_box_style' value=${last_email}></input>
						</td>
					</tr>

					<tr>
						<td>${backend.member.field.password}</td>
						<td><input type="password" name="password" class='input_box_style'></input>
						</td>
					</tr>
					<tr>
						<td></td>
						<td><input type="password" name="password_again" class='input_box_style'></input>
						</td>
					</tr>
					<tr>
						<td>${backend.member.field.readme}</td>
						<td><textarea name="readme" type="text" class='big_text_box'>${last_readme}</textarea> </td>	
					</tr>

					<thead>
						<th colspan="2" style="color:green">用户权限</th>
					</thead>

					<tr>
						<td>通用</td>
						<td class="authority">
						% if  'upload_video' in last_all or (not error and item and MemberAuthority.can_upload_video(item.authority)):
						<input type="checkbox" name="upload_video" value="${MemberAuthority.upload_video}" checked="checked">
						${MemberAuthority.AuthorityName[MemberAuthority.upload_video]}</input> 
						% else:
						<input type="checkbox" name="upload_video" value="${MemberAuthority.upload_video}">
						${MemberAuthority.AuthorityName[MemberAuthority.upload_video]}</input> 
						% endif	
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						% if 'reply' in last_all or (not error and item and MemberAuthority.can_reply(item.authority)):
						<input type="checkbox" name="reply" value="${MemberAuthority.reply}" checked="checked">
						${MemberAuthority.AuthorityName[MemberAuthority.reply]}</input> 
						% else:
						<input type="checkbox" name="reply" value="${MemberAuthority.reply}">
						${MemberAuthority.AuthorityName[MemberAuthority.reply]}</input> 
						% endif
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												</td>
					</tr>
					<tr>
						<td>后台</td>
						<td class="authority">
						% if 'loggin_backend' in last_all or (not error and item and MemberAuthority.can_loggin_backend(item.authority)):
							<input type="checkbox" name="loggin_backend" value="${MemberAuthority.loggin_backend}" checked="checked">${MemberAuthority.AuthorityName[MemberAuthority.loggin_backend]}</input>
						% else:
							<input type="checkbox" name="loggin_backend" value="${MemberAuthority.loggin_backend}">
							${MemberAuthority.AuthorityName[MemberAuthority.loggin_backend]}</input>
						% endif
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						% if 'edit_backend' in last_all or (not error and item and MemberAuthority.can_edit_backend(item.authority)):
							<input type="checkbox" name="edit_backend" value="${MemberAuthority.edit_backend}" checked="checked"> ${MemberAuthority.AuthorityName[MemberAuthority.edit_backend]}</input> 
						% else:
							<input type="checkbox" name="edit_backend" value="${MemberAuthority.edit_backend}">
							${MemberAuthority.AuthorityName[MemberAuthority.edit_backend]}</input> 
						% endif
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</td>
					</tr>

					<tr>
						<td></td>
						<td><input type="submit" value="提  交" /> 
						<input name="cancel" type="submit" value="取消" onclick="cancel();"/>
						</td>
					</tr>

				</table>

				</fieldset>
			</form>
		</div>
	</div>
