<div class="admin_title">
		<h1>类别管理</h1>
</div>
<div class="operation_link">
		<a href='/' class="button">添加新类别</a>
</div>
<div class="admin_content">
	<table  class="table_style">
		<thead>
			<tr>
					<th width="25%">类别名称</th>
					<th width="30%">类别url</th>
					<th width="25%">节点数</th>
					<th width="10%" colspan="2">操作</th>
				</tr>
		</thead>
		<tbody>
		% if all_classify:
			% for i in all_classify:
				<tr>
					<td>${i.url}</td>
					<td>${i.name}</td>
					<td>${i.node_num}</td>
					<td class="operation">
					<a href="/backend/classify/edit/${i._id}" style='color:black'>编辑</a>
					</td>
					<td class="operation">
					<form action="/backend/classify/del/" name="del" method="post">
      						<input type="hidden" name="id" value='${i._id}'></input>
      						<input type="submit" value="delete">
    					</form>
					<!--a href="/backend/classify/del/${i._id}" style='color:black'>删除</a-->
					</td>
				</tr>
			% endfor
		% endif
		</tbody>
	</table>
</div>

