##coding:utf-8
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="zh-CN">
<head>
	<%include file="common/admin_head.html"/>
	% if js_file :
		<%include file="${js_file}"/>
	% else:
		<%include file="js/avatar.js"/>
	% endif
</head>

<body>
<%include file="common/admin_top.html"/>
<div id="Wrapper">
	<div id="BackendMain">
		<%include file="common/admin_nav.html"/>
		<%include file="${admin_file}"/>

	</div>
</div>
</body>
</html>
