	<script>
		function cancel()
		{
			document.classify_form.action.value='/backend/classify';
			document.classify_form.submit();
		}
	</script>
	<div>
			<div class="admin_title">
				<h1>类别管理</h1>
			</div>

			<div class="operation_link">
				<a href='/backend/classify' class="button">类别管理</a>
				<a href='/backend/classify/add' class="button select">添加新类别</a>
			</div>
			<div class='edit_content'>
			% if action_type == 'add':
			<form enctype="multipart/form-data" name="classify_form" action="/backend/classify/add" method="post">
			% elif action_type == 'edit':
				<form enctype="multipart/form-data" name="classify_form" action="/backend/classify/edit/${classify_item_id}" method="post">
				<input type="hidden" name="id" value="${classify_item_id}"></input>
			% endif


				<fieldset>
				<legend>#类别编辑#</legend>
				<table class='edit_style'>
					% if error:
					<tr>
						<td></td>
						
						<td class='error'>${error}</td>
					</tr>
					% endif
					<%
						last_url	=	''
						last_name	=	''
						last_des	=	''
						if classify_item and 'url' in classify_item:
							last_url	=	classify_item.url
						if classify_item and 'name' in classify_item:
							last_name	=	classify_item.name
						if classify_item and 'des'  in classify_item:
							last_des	=	classify_item.des	
						if error:
							if web and web.input() and 'url' in web.input():
								last_url=web.input().url
							else:
								last_url=''
							if web and web.input() and 'name' in web.input():
								last_name=web.input().name
							else:
								last_name=''
							if web and web.input() and 'des' in web.input():
								last_des=web.input().des
							else:
								last_des=''
					%>
					<tr>
						<td>类别名称</td>
						<td><textarea name="name" type="text" class='small_text_box'>${last_name}</textarea> </td>	
					</tr>

					<tr>
						<td>类别url</td>
						<td><textarea name="url" type="text" class='small_text_box'>${last_url}</textarea>
						</td>	
					</tr>
					<tr>
						<td>类别说明</td>
						<td><textarea name="des" type="text" class='big_text_box'>${last_des}</textarea> </td>	
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="提  交" /> 
						<input name="cancel" type="submit" value="取消" onclick="cancel();"/>
						</td>
					</tr>

				</table>

				</fieldset>
			</form>
		</div>
	</div>
