<div class="admin_title">
		<h1>类别管理</h1>
</div>
<div class="operation_link">
		<a href='/' class="button">添加新类别</a>
</div>
<div class="admin_content">
	<table  class="table_style">
		<thead>
			<tr>
					<th width="25%">类别名称</th>
					<th width="30%">类别url</th>
					<th width="25%">节点数</th>
					<th width="10%" colspan="2">操作</th>
				</tr>
		</thead>
		<tbody>

				<tr>
					<td>时光隧道</td>
					<td>时光隧道</td>
					<td>8</td>
					<td class="operation">
					<a href="/" style='color:black'>编辑</a>
					</td>
					<td class="operation">
					<a href="/" style='color:black'>删除</a>
					</td>
				</tr>
		</tbody>
	</table>
</div>

