##coding:utf-8
<%include file="common/head_own.html"/>
<body>
<%include file="index_top.html"/>
<div id="Wrapper">
	<div id="BackendMain">
		<div id="BackNav" style="margin-bottom:15px">
			<div class="box">
				<div class="cell" style="font-size:13px;padding:0px;border:0px">
					<ul class="backend_nav">
						<li><a href="/">Home</a></li>
						<li><a href="/">类别节点</a>
							<ul>
								<li><a href="/backend/section">类别</a></li>
								<li><a href="/backend/node">节点</a></li>
							</ul>
						</li>
						<li><a href="/backend/user">用户</a></li>
					</ul>
					<ul style="clear:both"></ul>
				</div>
			</div>
		</div>
		<style type="text/css">
		table, td, th
		{
		}
		th
		{
			border:1px solid white;
		}
		td
		{
			border:1px solid green;
			height:60px;
			font-size:14px;
			padding-left:10px;
		}
		th
		{
			background-color:green;
			color:white;
		}
		</style>
		<div class="box">
		<table  class="list" style="width:100%;border-collapse: collapse">
			<thead>
				<tr>
					<th>类别名称</th>
					<th>类别url</th>
					<th>节点数</th>
				</tr>
			</thead>
			<tbody>
				<tr style="text-align: left;">
					<td>时光隧道</td>
					<td>
					时光隧道
					<span style='visibility: hidden;'><a href="/" style="padding-left:15px">edit</a>
					      <a href="/" style="padding-left:15px">delete</a>
					</span>
					</td>
					<td>8</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>
</body>
</html>

