##coding:utf-8
<%include file="common/head_own.html"/>
<body>
<%include file="index_top.html"/>
<div id="Wrapper">
	<div id="Main">
		<div id="Content">
			<div class="box">
				<%include file="index_nav.html"/>
				<!--%include file="video_list.html"/-->
			</div>
		</div>
		<div id="Rightbar">
			<div id="Login" style="width:282px">
				<div class="box">
					<div class="cell">
						注册
					</div>
				</div>
			</div>
		</div>

		<div style="clear:both"></div>

	</div>
</div>
</body>
</html>

