<div class="cell">
		
		<div id="Welcome" style="font-size:16px;padding-bottom:10px">
			<span>Welcom To <strong>ShiTao</strong></span>
		</div>
		<div class="video_category_list">
			<div class="part">
				<ul>
					<li style="margin_top:0px"><img src="static_file/img/camera.jpg" width="32px" height="32px" style="padding-bottom:10px;"/><span style="line-height:20px">
					<span style=" color:#999;">相机&nbsp;&nbsp;&nbsp;</span>佳能&nbsp;•&nbsp尼康&nbsp;•&nbsp;松下&nbsp;•<br/>莱卡&nbsp;•&nbsp;卡西欧&nbsp;•&nbsp;
					副厂镜头&nbsp;<br/></br></span></li>
					<li><img src="static_file/img/watch.jpg" width="32px" height="32px"/><span style="line-height:20px"><span style="color: #999;">时光隧道&nbsp;&nbsp;&nbsp;</span>卡西欧&nbsp;•&nbsp松拓&nbsp;•&nbsp;<br/>
					精工&nbsp;•&nbsp天梭&nbsp;•&nbsp;Swatch</span><br/><br/>
					</li>
					<li><img src="static_file/img/notebook.jpg" width="32px" height="32px"/><span style="line-height:20px"><span style="color: #999;">笔记本&nbsp;&nbsp;&nbsp;</span>Mac&nbsp;•&nbsp;Lenove&nbsp;•&nbsp;<br/>
					惠普&nbsp;•&nbsp三星&nbsp;•&nbsp;宏基</span></li>
				</ul>
			</div>
			<div class="part" stlye="width:35%">
				<ul>
					<li><img src="static_file/img/cellphone.jpg" width="32px" height="32px" style="padding-bottom:20px"/><span style="line-height:20px">
					<span style="color: #999;">口袋数码&nbsp;&nbsp;&nbsp;</span>
					苹果&nbsp;•&nbsp;HTC&nbsp;•<br/>Google&nbsp;•&nbsp;黑莓&nbsp;•&nbsp;三星&nbsp;•<br/>
					索爱&nbsp;•&nbsp;各种Pad
					</span></li>
					<li><img src="static_file/img/pet.jpg" width="32px" height="32px"/><span style="line-height:20px">
					<span style=" color:#999;">动物乐园&nbsp;&nbsp;&nbsp;</span><br/>
					阿猫&nbsp;•&nbsp;阿狗&nbsp;•<br/><br/>
					</span></li>
					<li><img src="static_file/img/tv.jpg" width="32px" height="32px"/><span style="line-height:20px">
					<span style=" color:#999;">日用家电&nbsp;&nbsp;&nbsp;</span>
					摄像机&nbsp;•&nbsp;音箱&nbsp;•<br/>平板电视<br/>
					</span></li>
				</ul>
			</div>
			<div class="part">
				<ul>
					<li><img src="static_file/img/game.jpg" width="32px" height="32px" style="float:left"/><span style="line-height:20px">
					<span style=" color:#999;">Fighting&nbsp;&nbsp;&nbsp;</span>
					Xbox&nbsp;•&nbsp;PS3&nbsp;•<br/>
					Wii<br/><br/>
					</span></li>
					<li><img src="static_file/img/cloth.jpg" width="32px" height="32px" style="float:left"/><span style="line-height:20px">
					<span style="color: #999;">穿来脱去&nbsp;&nbsp;&nbsp;</span>裙子&nbsp;•&nbsp;皮靴&nbsp;•&nbsp;<br/>眼镜<br/><br/>
					</span></li>
					<li><img src="static_file/img/tech.jpg" width="32px" height="32px" style="padding-bottom:20px"/><span style="line-height:20px">
					<span style="color: #999;">ShiTao的成长 &nbsp;技术分享&nbsp;&nbsp;</span>
					MongoDB&nbsp;•&nbsp;Tarnado&nbsp;•<br/>Mako&nbsp;•&nbsp;Nginx&nbsp;
					</span></li>
				</ul>
			</div>
		</div>
</div>
