<%!
	import view.filter
	from config import template,site
%>

<!--div class="cell" style="padding-bottom: 0px;"-->
<div class="cell">
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr>
			<td width="73" align="center" valign="top">
				<img style="width:73px;height:73px;" src="/static_file/video_img/b58dfa4ca169570e5159eb1036d7bb24_small.jpg"></img>
			</td>
                    	<td width="15"></td>

			<td width="auto" valign="top">
				<div class="fr" align="right">
					<span class="snow">${template.total_videos}</span> 
					<span class="fade"><strong>${node.video_num|view.filter.float2int}</strong></span>
					${template.split}
					<span class="snow">${template.total_topics}</span> 
					<span class="fade"><strong>${node.topic_num|view.filter.float2int}</strong></span>
				</div>
				<span class="bigger"><a href="/">${site.title}</a> <span class="chevron">&nbsp;›&nbsp;</span> ${node.name|h}</span>
                    		<div class="sep10"></div>
                    		<span class="header">${node.header|view.filter.linebreaksbr}</span>
				<div class="sep10"></div>

				<div>
                        		<!--div style="padding: 3px 2px 5px 2px; display: inline-block; border-bottom: 5px solid #3c3; margin: 0px 8px 0px 2px;">所有视频</div-->
					<div style="padding: 3px 2px 5px 2px; display: inline-block; margin: 0px 8px 0px 2px;"><a href='/'>所有视频</a></div>

					<div style="padding: 3px 2px 2px 2px; display: inline-block; border-bottom: 2px solid #3c3; margin: 0px 8px 0px 2px;"><a href>所有讨论</a></div>
                    		</div>


			</td>
					
		</tr>
	</table>
</div>
<!--div class="cell" style="padding-top: 0px;padding-bottom:0px">
	<table>
	<tr>
			<td>
				<span style="padding: 3px 10px 5px 10px; display: inline-block; border-bottom: 5px solid #3c3; margin: 0px 2px 0px 2px;">				  <a href="/">返回首页</a>
				</span>
			</td>


			<td>
				<span style="padding: 3px 10px 5px 10px; display: inline-block; border-bottom: 5px solid #3c3; margin: 0px 2px 0px 2px;">所有视频</span>
			</td>
			<td>
				<span style="padding: 3px 10px 5px 10px; display: inline-block; border-bottom: 5px solid #3c3; margin: 0px 2px 0px 2px;">所有讨论</span>
			</td>

		</tr>

	</table>
</div-->

