<%!
	import view.filter
	from config import template,site
%>

% for  i in video_list :
<div class="video_list_box">
	<div class="sep3"></div>
	<div class="video_thumbnail">
		<img src="${i.image|view.filter.video_image("small")}"/>
	</div>
	<div class="video_info">
		<ul>
			<li>
				<h3><a href="/"><span class="video_title"> Casio G-shock 2011 卡西欧 精品再现</span></a></h3>
			</li>
			<li class="video_intro">防水、夜光、支持大气压测试。绝对超值享受，20年品质保证...</li>
				<div class="sep12"></div>
			<li class="node" style="float:left"><a href="/">时间隧道</a></li>
			<li class="vidoe_create" style="padding:2px 4px;">
				<span style="color: #999;height: 15px;line-height: 16px;">
					&nbsp;•&nbsp;<strong>混世魔王</strong>&nbsp;•&nbsp;20 回复&nbsp;•&nbsp;6月10日&nbsp;
				</span>
			</li>
		</ul>
	</div>
	<div style="width:80px;list-style-type:none;float:left;padding:20px 0px 0px 20px;margin:0px">
		<span class="video_view">120</span>
	</div>
	<div style="clear:both"></div>
	<div class="sep3"></div>
</div>
% endfor
