<%!
	import view.filter
	from config import template,site
%>

% for  i in video_list :
<div class="video_list_box">
	<div class="sep3"></div>
	<div class="video_thumbnail">
		<img src="${i["image"]|view.filter.video_image("small")}"/>
	</div>
	<div class="video_info">
		<ul>
			<li>
				<a href="/videotopic/${i["_id"]}"><span class="video_title">${i["title"]}a</span></a>

			</li>
			<li class="video_intro">防水、夜光、支持大气压测试。绝对超值享受，20年品质保证...</li>
				<div class="sep12"></div>
			% if index_page:
				<li class="node" style="float:left"><a href="/">${i.node.name}</a></li>
				<li class="vidoe_create" style="padding:2px 4px;float:right">
			% else:
				<li class="vidoe_create" style="padding:2px 4px;float:left">
			% endif
				<span style="color: #999;height: 15px;line-height: 16px;">
					•&nbsp;<strong>混世魔王</strong>&nbsp;•&nbsp;20 回复&nbsp;•&nbsp;6月10日&nbsp;
				</span>
			</li>
		</ul>
	</div>
	<div style="width:80px;list-style-type:none;float:left;padding:20px 10px 20px 20px;margin:0px">
		<div class="video_view">120</div>
	</div>
	<div style="clear:both"></div>
	<div class="sep3"></div>
</div>
% endfor
