<%!
	import view.filter
	from config import template,site
%>

<style type="text/css">
#mediaplayer_wrapper
{
//position:relative;
//top:15px;
    /*width:600px;*/
	margin:auto
}
</style>
<div class="cell">
	<div style='height:350px'>
	<div id="mediaplayer" ></div>
	</div>
</div>
<div>
</div>


<script type="text/javascript" src="/static_file/jwplayer/jwplayer.js"></script>
<script type="text/javascript">
jwplayer("mediaplayer").setup({
flashplayer: "/static_file/jwplayer/player.swf",
file: "/upload_video/${topic.location}.mp4",
image: "${topic.image|view.filter.video_image("big")}",
menu:'false',
skin:'/static_file/skin/glow.zip',
width:'610',
height:'343'
});
</script>
