body{
font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}
#BackendMain{
		//width:1024px;
		margin:0px auto 0px auto;
		//padding: 25px 0px 0px 0px
}

ul.backend_nav,ul.backend_nav ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
	float:left;
	//border:1px solid #486b02;
	//background-color:#8bd400;
	//background-color:#ccc;

	
}

ul.backend_nav li
{
	float:left;
	width:8em;
	background-color:#8bd400;
	//background-color:green;
	//background-color:whiteSmoke;
	//background-color:#ccc;

	//background-color:#2786C2;
	//background-color:#7a7a7a;

}

ul.backend_nav li ul
{
	width:8em;
	position:absolute;
	left:-999em;
}

.backend_nav li:hover ul
{
	left:auto;
}

ul.backend_nav a
{
	display:block;
	color:#2b3f00;
	text-decoration:none;
	padding:0.3em 1em;
	//border-right: 1px solid #486b02;
	//border-left:  1px solid #e4ffd3;
	border-right: 3px solid white;
	//border-left:  3px solid white;

}

ul.backend_nav li li a
{
	//border-top:1px solid #e4ffd3;
	//border-bottom:1px solid #486b02;

	border-top:3px solid white;
	//border-bottom:3px solid white;
	border-right: 3px solid white;
	//border-left:  3px solid white;
}
/*
ul.backend_nav li:last-child a{
	border-right:0;
	border-bottom:0;
}
*/
ul.backend_nav a:hover,ul a:focus
{
	color:#f3f3f3;
	background-color:#C00;
}


.admin_title
{
			padding-left:4px;
			padding-top:4px;
}
.admin_title h1{
color: #023E69;
			color: green;
			font-size: 20px;
			width: 500px;
			margin-bottom: 5px;
			margin-top:5px;

}
a:link,a:visited,a:active
{
			color:white;
			text-decoration:none;
}
.admin_content
{
			padding:2px;
}

.button {
			font-size: 13px;
			line-height: 13px;
			padding: 4px 10px 4px 10px;
			margin: 3px;
			background-color: green;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			display: inline-block;
			font-color:white;
}
.operation_link a:hover
{
      color:white;
      background-color:black;
}
.operation_link .select
{
		background-color:black;
		color:white
}
		
table.table_style
{
			border-collapse: collapse;
			width:100%
}
table.table_style tr th
{
			background-color:green;
			border-right:1px solid white;
			color:white;
			height:25px;
}
table.table_style tbody tr
{
			text-align:left;
}
table.table_style .operation
{
			text-align:center;
			padding:0px;
}
table.table_style td
{
			border:1px solid green;
			height:25px;
			font-size:14px;
			padding-left:10px;
}

table.edit_style
{
}
table.edit_style td
{
				border-width:10px;
				border-style:dotted;
				border-color:white;

				text-align:right;
				padding-right:10px;
				font-weight:bold;
				font-size:14px;
}
table.edit_style td.error
{
				text-align:right;
				font-weight:bold;
				color:red;
}
table.edit_style textarea.small_text_box
{
				border: 1px solid green;
				width:400px;
}
table.edit_style textarea.big_text_box
{
				border: 1px solid green;
				width:400px;
				height:50px;
}

.edit_content fieldset
{
	border:1px solid green;
}
.edit_content legend 
{
color: green;font-weight:bold;
}
