* {
	margin:0px;
	padding:0px;
	}
#Rightbar{
		width:272px;
		float:right;
}

#Content{
		//width:680px;
		width:670px;
		float:left;
}
#Main{
		width:960px;
		margin:0px auto 0px auto;
		padding: 25px 0px 0px 0px
}
#Wrapper {
	background-color: white;
	background-image: url("/static_file/img/bohemian.jpg");
}
#Welcome
{

}
#Top
{
	height: 40px;
	background-color: #222;
	background-image: url("/static_file/img/bg_top.png");
}
#TopInfo
{
			width:960px;
			text-align: center;
			margin: 0px auto 0px auto;

}
#TopInfo h2
{
	height: 44px;
	color: white;
	
	font-size: 100%;
}
#Search {
	margin: 0px 200px 0px 20px;
	text-align: left;
	padding: 7px 0px 0px 0px;
}

.video_list_box{
		padding:10px;
		border-bottom: 1px 	solid #E2E2E2;
		overflow:hidden
}
.video_thumbnail{
		float:left
}
.video_thumbnail img
{
	width:135px;
	height:76px
}
.video_info
{
	/*padding:10px 0px 0px 0px;*/
	width:400px;
	float:left
}
.video_info ul
{
	list-style-type:none;
	padding-left: 25px;
	margin:0px
}
.video_info .video_title
{	
	color: #CC1F29;
	color:  #2786C2;
	font-size:16px;
}
.video_info .video_intro
{
	
	font-size:12px;
	margin:5px 0px 0px 0px;
			color: #999;
   /*	display:none*/
}
.video_info .vidoe_create
{
	font-size:12px;
	float:right;
	
}
.node a{
		font-size: 12px;
		height: 15px;
		line-height: 16px;
		padding: 2px 4px;
		margin: 1px 3px 0 0;
		color: #333;

		background: #EFEFEF;
		border: 1px solid #CCC;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		display:inline-block;
}
.video_view{
	line-height: 12px;
	font-weight: bold;
	color: white;
	background-color: #AAB0C6;
	display: inline-block;
	padding: 2px 10px 2px 10px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	margin: 18px 12px 0px 0px;
	text-decoration: none;
}

a:link, a:visited, a:active {
	color: #636A86;
    /*color: #CC1F29;*/
	text-decoration: none;
}

.video_category_list{
	
	overflow:hidden;
	padding-left:15px;
}
.video_category_list .part
{
	float:left;
	width:33%
}
.video_category_list .part ul
{
	padding:5px;
	list-style-type:none;
	display:block
}
.video_category_list .part ul img
{
	padding-right:10px;
	float:left;

}
.video_category_list .part ul li
{
	margin-top:5px;
	display:block;
	overflow:hidden
}
.video_category_list .part
{
	font-size:12px;
	color: #636A86;
}
.snow {
color: rgba(0, 0, 0, 0.15);
}
body
{
//font-family: "微软雅黑","Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;

}
.part ul  .first_line
{
	margin-top:0px;
}
.box {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	background-color: white;
	border: 2px solid white;
}
.box .cell {
padding: 10px;
font-size: 12px;
line-height: 16px;
border-bottom: 1px solid #E2E2E2;
}

.search {
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px;
	padding: 3px;
	font-size: 14px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	width: 240px;
	//font-family: "微软雅黑","Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
	font-family: "Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;

}

.mll_small {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 3px;
	font-size: 14px;
	border: 1px solid #ccc;
	display: block;
	width: 420px;
	height: 40px;
	//font-family: "微软雅黑","Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
	font-family: "Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;

}
.mll_big {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 3px;
	font-size: 14px;
	border: 1px solid #ccc;
	display: block;
	width: 420px;
	height: 160px;
	//font-family: "微软雅黑","Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
	font-family: "Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;

}

.upload_cell {
	list-style-type:none;
	padding-bottom:10px	
}
.upload_cell .col1
{
	float:left;
	width:200px;
	font-weight:bold;
}
.upload_cell .col2
{
	float:left;
}

#BackendMain{
		width:1024px;
		margin:0px auto 0px auto;
		padding: 25px 0px 0px 0px
}

ul.backend_nav,ul.backend_nav ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
	float:left;
	//border:1px solid #486b02;
	background-color:#8bd400;
	background-color:#ccc;

	
}

ul.backend_nav li
{
	float:left;
	width:8em;
	background-color:#8bd400;
	background-color:whiteSmoke;
	background-color:#ccc;
	//background-color:#2786C2;
	//background-color:#7a7a7a;




	
}

ul.backend_nav li ul
{
	width:8em;
	position:absolute;
	left:-999em;
}

.backend_nav li:hover ul
{
	left:auto;
}

ul.backend_nav a
{
	display:block;
	color:#2b3f00;
	text-decoration:none;
	padding:0.3em 1em;
	//border-right: 1px solid #486b02;
	//border-left:  1px solid #e4ffd3;
	border-right: 3px solid white;
	border-left:  3px solid white;

}

ul.backend_nav li li a
{
	//border-top:1px solid #e4ffd3;
	//border-bottom:1px solid #486b02;

	border-top:3px solid white;
	//border-bottom:3px solid white;
	border-right: 3px solid white;
	border-left:  3px solid white;
}
/*
ul.backend_nav li:last-child a{
	border-right:0;
	border-bottom:0;
}
*/
ul.backend_nav a:hover,ul a:focus
{
	color:#f3f3f3;
	background-color:#C00;
}

table.input_table td
{
	border-width:5px;
	border-style:dotted;
	border-color:white;
	text-align:right;
	padding-right:10px;
	font-size:12px;	
}

.glass {
	background-color: transparent;
	border: 1px solid transparent;
}

.box .inner, .glass .inner {
	padding: 10px;
	font-size: 12px;
	line-height: 16px;
}

.box .yellow {
	padding: 10px;
	font-size: 12px;
	line-height: 16px;
	background-color: #ffffe2;
	border-top: 1px solid #ffffcc;
	-moz-border-radius: 0px 0px 6px 6px;
}

.box .cell {
	padding: 10px;
	border-bottom: 1px solid #e2e2e2;
	font-size: 12px;
	line-height: 16px;
}
.fr {
	float: right;
}
.snow {
color: rgba(0, 0, 0, 0.15);
}
.bigger {
	font-size: 16px;
}
.fade {
	color: #999;
}

h1 {
	font-size: 22px;
	line-height: 25px;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
	margin: 0px;
}

a.dark:link, a.dark:visited, a.dark:active {
	color: gray;
	text-decoration: none;
}

a.dark:hover {
	color: #385f8a;
	text-decoration: none;
}

.content {
	font-size: 14px;
	line-height: 180%;
	color: #000;
	text-overflow: ellipsis;
	overflow:hidden;
}
.sep3 {
	height: 3px;
}

.sep5 {
	height: 5px;
}

.sep10 {
	height: 10px;
}
.sep12 {
	height: 12px;
}
.sep20 {
	height: 20px;
}


.white {
	color: rgba(255, 255, 255, 0.75);
}
a.black:link, a.black:visited, a.black:active {
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
}

a.black:hover {
	color: rgba(0, 0, 0, 1);
	text-decoration: underline;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
}

.mll {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 3px;
	font-size: 14px;
	border: 1px solid #ccc;
	display: block;
	width: 628px;
	height: 160px;
	font-family: "Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}

.mll:focus {
	border: 1px solid rgba(128, 128, 160, 0.6);
	-moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
	-webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
	outline: none;
}

.mlt {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 3px;
	font-size: 14px;
	border: 1px solid #ccc;
	display: block;
	width: 242px;
	height: 50px;
	font-family: "Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}

.mlt:focus {
	border: 1px solid rgba(128, 128, 160, 0.6);
	-moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
	-webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
	outline: none;
}

